<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="MqHost" value="192.168.0.180" />
    <add key="MqUserName" value="admin" />
    <add key="MqPassword" value="admin" />
    <add key="MqVirtualHost" value="/" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
</configuration>